html {
  height: 100%;
}
body {
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.2em;
  color: #555;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 960px;
  box-sizing: border-box;
}

header {
  background: #00446a;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
  line-height: 1.4em;
}

header h2 {
  font-size: 15px;
  line-height: 1.2em;
  color: #fff;
  font-family: "jubilat", Georgia, serif;
  font-weight: normal;
}

#main {
  background: #eee;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -56px;
}

#push {
  height: 56px;
}

#controls {
  padding: 0 10px;
  box-sizing: border-box;
}

#results {
  color: #333;
  font-weight: bold;
  float: right;
}

#pagination {
  text-align: right;
}

#pagination a {
  text-decoration: none;
  color: #00446a;
}

#politicians {
  padding: 10px;
}

.politician {
  padding: 10px;
  float: left;
  background: #fff;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 280px;
}

.politician:nth-child(4n) {
  margin-right: 0;
}

.politician img {
  background: #fff;
  width: 200px;
  height: 250px;
}

.politician figcaption {
  text-align: center;
}

footer {
  border-top: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
  margin-top: -56px;
  background: #fff;
}

.clearfix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
}

[ng\:cloak], [ng-cloak], .ng-cloak, .init {
  display: none !important;
}
  